<a href="https://colab.research.google.com/github/tawfiqam/MI564/blob/main/MI_564_Example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are times when you have a dictionary that holds information. These dictionaries can be saved as a pandas series. Here's how...

In [ ]:
#this dictionary shows a number of subreddits - I'm assuming y'all know Reddit! - and the number of active users
reddit_users = {'r/Parenting':128527,
                'r/Daddit':53059,
                'r/Mommit':22683}

In [ ]:
#Answer
#First, import pandas 
import pandas as pd
#then create a series 
reddit_series = pd.Series(reddit_users)

In [ ]:
#let's check...
type(reddit_series)

pandas.core.series.Series

In [ ]:
#OK...let's expand on that example
reddit_data = {'subreddit_name': ['r/Parenting', 'r/Daddit', 'r/Mommit'],'user_count': [128527,53059,22683],'post_count': [2112028,440728,232919]}
labels = ['a', 'b', 'c']

In [ ]:
import pandas as pd
#now, let's create the new dataframe
reddit = pd.DataFrame(reddit_data,index=labels)

In [ ]:
#let's see the dataframe rows
reddit.head()

  subreddit_name  user_count  post_count
a    r/Parenting      128527     2112028
b       r/Daddit       53059      440728
c       r/Mommit       22683      232919

Check the file type again...

In [ ]:
type(reddit)

pandas.core.frame.DataFrame

Now that we have these data, let's think about how we can get some data analysis going...I want to know what's the total and average number of users for parenting subreddits

In [ ]:
print('The total number of users on the three biggest parenting subreddits is...')
print(reddit.user_count.sum())

The total number of users on the three biggest parenting subreddits is...
204269

In [ ]:
print('The average number of users on the three biggest parenting subreddits is...')
print(reddit.user_count.mean())

The average number of users on the three biggest parenting subreddits is...
68089.66666666667

Sometimes, you need to add more information as you learn more about your data...For example, I later found out that there were some throwaway users on these subreddits

In [ ]:
#This list includes the number of throwaway users in each of the subreddits
throwaways = [1275,139,79]

Now...I need to create a new table which shows the throwaway accounts.
I want to call the new column throwaways

In [ ]:
#remember, reddit is the pandas dataframe
#name the new column 'throwaways'
#the new column = the list! 
reddit['throwaways'] = throwaways

Now, let's see what the pandas dataframe, reddit, looks like

In [ ]:
reddit.head()

  subreddit_name  user_count  post_count  throwaways
a    r/Parenting      128527     2112028        1275
b       r/Daddit       53059      440728         139
c       r/Mommit       22683      232919          79