<a href="https://colab.research.google.com/github/tawfiqam/MI564/blob/main/SCI564_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1:** What is the difference between a Python array, a Pandas Series, and a Pandas Dataframe?

A1:

**Q2:** Use the following population dictionary to create a Pandas Series object. Call the series object population. Remember to include all needed

In [ ]:
population_dict = {'California': 38332521,
                   'Texas':26448193,
                   'New York':19651127,
                   'Florida':19552860,
                   'Illinois':12882135}

In [ ]:
#A2:

**Q3:** Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
#Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
#A3:

**Q4:** What is the average number of attempts?

In [ ]:
#A4:

**Q5:** How many people qualified?

In [ ]:
#A5

**Q6:** Change the name of Jonas to James

In [ ]:
#A6

**Q7:** Show the first two rows by index

In [ ]:
#A7

**Q8:** Add a new column, contained in the list here and called 'color'

In [ ]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']

In [ ]:
#A8

**Q9:** Create a datafram from the following dictionary. After you do so, write a Pandas program to split the dataframe by school code and get mean, min, and max value of age for each school.

In [ ]:
School_Dict= {   'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']}
  
index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6']

In [ ]:
#A9

**Q10a:**Load a dataframe titled **california_cities**

In [ ]:
#You need to run this code to load data from the Google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#A10a

**Q10b:** Show the first 5 rows of the pandas dataframe

In [ ]:
#A10b